@media (max-width: 425px){
   .center{
    padding-left: 16px;
    padding-right: 16px;
   }
   .header__box{
    text-align: center;
    padding-top: 147px;
    &-heading{
        font-size: 52px;
        line-height: 49px;
        font-weight: bold;
    }
    &-textdescription{
        font-size: 16px;
        line-height: 19.5px; 
    }
   }
   .main{
    padding-top: 0px;
   }
   .mobile{
    display: none;
     &__img{
        width: 100%;
     }
   }
   .conteiner__minigame-boxtext{
    text-align: center;
    margin-top: 29px;
    margin-left: 29px;
    margin-bottom: 35px;
    margin-right: 29px;
   }
   .order1{
    order: 2;
   }
   .order2{
    order: 1;
   }
}